body {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.territory-container {
    display: flex;
    flex-direction: column;
}

.card-row {
    display: flex;
    justify-content: center;
    margin: 4px;
}

.col {
    width: 660px;
    min-width: 600px;
    display: flex;
}

.col.left {
    justify-content: flex-start;
}

.col.right {
    justify-content: flex-end;
}

.card {
    width: 107px;
    height: 150px;
    margin-left: 1px;
    background-color: #85A650;
    background-size: cover;
    color: #85A650;
    font-size: 1px;
}

.card.visible {
    background-color: blue;
}

button {
    border: none;
    background-color: #85A650;
    border-radius: 4px;
    padding: 10px;
    color: white;
}

#kimariji {
    width: 150px;
    padding: 10px;
    border: 5px solid red;
}